<div class = "col-lg-4">

  <h1>Top Books</h1>

  <% if @books.size != 0 %>
    <% @books.each do |book| %>
      <h2><%= link_to book.name, books_show_path(book) %>
        <small>Ranked: </small>
      </h2>
    <% end %>
  <% else %>
    Oops... There are not books yet,
    <%= link_to "add one.", books_new_path %>
  <% end %>
  <p>
  View More Books

</div>
