<div class = "col-lg-4 col-md-4 col-sm-12 col-xs-12">

  <h1>Top Books</h1>

  <% if @books.any? %>
    <% @books.each do |book| %>
      <h2><%= link_to book.name, books_show_path(book) %>
        <small>Ranked: <%= book.rank %></small>
      </h2>
    <% end %>
    <%= link_to "View More Books", albums_path %>
  <% else %>
    Oops... There are not books yet,
    <%= link_to "add one.", books_new_path %>
  <% end %>
  <p>

</div>
