
<div class = "col-lg-4 col-md-4 col-sm-12 col-xs-12">

  <h1>Top Movies</h1>

  <% if @movies.any? %>
    <% @movies.each do |movie| %>
      <h2><%= link_to movie.name, movies_show_path(movie) %>
        <small>Ranked: <%= movie.rank %></small>
      </h2>
    <% end %>
  <% else %>
    Oops... There are not movies yet,
    <%= link_to "add one.", movies_new_path %>
  <% end %>
  <p>
  View More Movies

</div>
