body{
  background-color: #333;
}

.a{
  line-height: 10px;
}

.header{
  border-bottom: 1px solid #eee;
}

h2{
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}

.t{
  background-color: #F9d3a5;
  color: black;
  border: none;
}

.h1.a{
  color: #E6E6FA;
}

.s{
  background-color: #eac3b8;
  border: none;
}

.q{
  background-color: #FFFFCC;
  border: none;
}

.r{
  background-color: #9baf8e;
  border: none;
}

.u{
  background-color: #aebbc7;
  color: #0077dd;
  border: none;
}

.v{
  background-color: 	#CFCFE1;
  color: black;
  border: none;
}
